.contador-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.contador-boton {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: cornflowerblue;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  margin-left: 2vh;
}