* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
body {
    margin: 0;
    padding: 0;
    background: url('./imagenes/fondo2.svg') no-repeat center center fixed;
    background-size: cover;
    z-index: 1;
    font-weight: bold;
    overflow-x: hidden;
}

.logo-principal { display: none; }

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F1D8A3;
    padding: 1%;
}

.header-logo {
    margin: 1%;
    width: 20%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cartMarket, .userImage {
    transition: all 400ms ease;
}

.cartMarket:hover, .userImage:hover {
    transform: scale(1.2);
}

.search-bar {
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 100%; /* Utilizamos el 100% del ancho disponible */
    max-width: 50%; /* Establecemos un ancho máximo */
    
}

.search-bar input {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px; /* Aumentamos el espaciado para alargar la barra de búsqueda */
    flex-grow: 1; /* Permite que el input ocupe el espacio restante */
}

.search-bar button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

.search-bar button img {
    width: 20px;
}

.nav-bg {
    width: 100%;
    z-index: 1000;
}

nav {
    background-color: #F1D8A3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0px;
}

nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

.logoIndex {width: 120px;}

.logoProducts {width: 220px;}

.logoWAW {width: 300px;}

.logoContact {width: 200px;}

.logoFAQs {width: 100px;}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    transition: all 400ms ease;
}

nav > ul > li > a:hover{
    transform: scale(1.2);
}

/*SUBMENU*/
nav ul li ul{
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 40px;
    padding: 14px, 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 400ms ease;
    border-radius: 20px;
}

.dbz-title, .kny-title {width: 90%;}

.op-title {width: 60%;}

.n-title {width: 45%;}

nav ul li ul li {
    margin-left: -25px;
    padding-right: 20px;
}

nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 50px;
}

nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    transition: all 300ms ease;
}

nav ul li ul li a img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

nav ul li ul li a:hover{
    transform: scale(1.1);
}

.bars__menu {
    display: none;
}

main {
    position: relative;
}

svg {
    z-index: -1;
    position: relative;
}

.promo-image {
    width: 40%;
    display: block;
    margin: 2% auto;
}

.product-container {
    text-align: center;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-image {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.product-image img {
    max-width: 100%; /* La imagen se redimensionará para adaptarse al cuadrado */
    max-height: 100%; /* La imagen se redimensionará para adaptarse al cuadrado */
}

.product-title {
    margin-top: 2%;
    text-align: center;
    max-width: 90%;
    margin-bottom: 2%;
}

.product-price {
    text-align: center;
    margin-top: 1%;
    max-width: 90%;
    margin-bottom: 5%;
}

footer {
    text-align: center;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    display: inline-block;
    vertical-align: middle;
}

.footer-logo {
    cursor: pointer;
}

.contact-info {
    display: inline-block;
    vertical-align: middle;
}

.contact-info p {
    margin: 0;
}

.social-icons {
    display: inline-block;
    vertical-align: middle;
}

.social-icons a img {
    margin-right: 10px;
    transition: all 400ms ease;
}

.social-icons a img:hover {transform: scale(1.2);}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
    }
    .logo-principal {
        display: flex;
        width: 70%;
        margin: 5%;
    }

    .header-top, .nav-bg {
        display: none;
    }

    .bars__menu {
        display: flex;
        width: 40px;
        cursor: pointer;
        flex-direction: column; /* Agrega esta propiedad para que los span se coloquen uno debajo del otro */
        transform: translate(-25px, -5px);
    }

    .bars__menu span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        margin-bottom: 6px;
        transform-origin: 0px 100%;
        transition: all 400ms;
    }

    .activeline1__bars-menu {
        transform: rotate(45deg) translate(-10px, 3px);
    }

    .activeline2__bars-menu {
        opacity: 0;
        margin-left: -30px;
    }

    .activeline3__bars-menu {
        transform: rotate(-45deg) translate(-10px, 1px);
    }

    .promo-image {
        width: 70%;
    }

    .product-row {
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
    }

    .product-image {
        max-width: 100%;
        margin: 10%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        margin-top: 15%;
    }

    .contact-info {
        margin: 5%;
    }

    .social-icons {
        margin-bottom: 5%;
    }
}
