* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
body {
    margin: 0;
    padding: 0;
    background: url('./imagenes/fondo2.svg') no-repeat center center fixed;
    background-size: cover;
    z-index: 1;
    font-weight: bold;
}

.logo-principal { display: none; }

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F1D8A3;
    padding: 1%;
}

.header-logo {
    margin: 1%;
    width: 20%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-bar {
    background: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: 100%; /* Utilizamos el 100% del ancho disponible */
    max-width: 50%; /* Establecemos un ancho máximo */
    
}

.search-bar input {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px; /* Aumentamos el espaciado para alargar la barra de búsqueda */
    flex-grow: 1; /* Permite que el input ocupe el espacio restante */
}

.search-bar button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
}

.search-bar button img {
    width: 20px;
}

nav {
    background-color: #F1D8A3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin: 1% 80px;
}

.nav-bg {
    width: 100%;
    z-index: 1000;
}

main {
    position: relative;
}

svg {
    z-index: -1;
    position: relative;
}

.promo-image {
    width: 40%;
    display: block;
    margin: 2% auto;
}

.product-container {
    text-align: center;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-image {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.product-image img {
    max-width: 100%; /* La imagen se redimensionará para adaptarse al cuadrado */
    max-height: 100%; /* La imagen se redimensionará para adaptarse al cuadrado */
}

.product-title {
    margin-top: 2%;
    text-align: center;
    max-width: 90%;
    margin-bottom: 2%;
}

.product-price {
    text-align: center;
    margin-top: 1%;
    max-width: 90%;
    margin-bottom: 5%;
}

footer {
    text-align: center;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    display: inline-block;
    vertical-align: middle;
}

.footer-logo {
    cursor: pointer;
}

footer .contact-info {
    display: inline-block;
    vertical-align: middle;
}

footer .contact-info p {
    margin: 0;
}

footer .social-icons {
    display: inline-block;
    vertical-align: middle;
}

footer .social-icons a {
    margin-right: 10px;
}

@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .logo-principal {
        display: flex;
        width: 80%;
        margin: 5%;
    }

    .header-top, .nav-bg{
        display: none;
    }

    .promo-image {
        width: 70%;
    }

    .product-row {
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
    }

    .product-image {
        max-width: 100%;
        margin: 10%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        margin-top: 15%;
    }

    .contact-info {
        margin: 5%;
    }

    .social-icons {
        margin-bottom: 5%;
    }
}
