@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
body{
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 15% 85%;
    background-color: rgba(20, 21, 38, 0.9);
    font-family: 'Roboto Mono', monospace;
}
p, li{
    color: white;
    text-align: justify;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;
}
.nav{
    background-color: rgb(20, 21, 38);
    position: fixed;
    display: grid;
    grid-row: 1;
    margin-top: -1%;
    margin-left: -1%;
    padding-left: 3%;
    padding-bottom: 2%;
}
.logoNombre{
    width: 100px;
    margin-left: -25%;
    margin-top: 25%;
    margin-bottom: 100%;
}
a img{
    width: 35px;
    margin-left: 10%;
    margin-bottom: 15%;
    transition: transform .5s;
}
.git{
    width: 50px;
    margin-top: -3%;
    margin-left: 3%;
}
a img:hover{
    transition: transform .5s;
    transform: scale(1.3);
}
.siete{margin-bottom: 120%;}
li{width: 100%;}
.separacion{position: fixed;}
.lado1{
    color: aqua;
    display: flex;
    justify-content: end;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: -60%;
}
.lado2{
    color: aqua;
    display: flex;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 90%;
}
#sombra{
    transition: .5s;
}
#sombra:hover{
    background-color: rgb(20, 21, 38);
    box-shadow: -20px 20px 5px -10px aqua;
}
.presentacion{
    display: flex;
    width: max-content;
    height: max-content;
    border: 2px aqua solid;
    border-radius: 10% 50%;
    margin-left: 70%;
    box-shadow: 0 5px 15px aqua;
}
.fotoJCG{margin-right: 5%;}
.programmer1{
    position: absolute;
    margin-top: 20%;
    margin-left: 10%;
}
.programmer2{
    position: absolute;
    margin-top: 27%;
    margin-left: 30%;
}
.programmer3{
    position: absolute;
    margin-top: 35%;
    margin-left: 50%;
}
.efectoPP{
    background-color: aqua;
    width: 400px;
    height: 5px;
    margin-top: -8%;
    margin-left: 80%;
    position: absolute;
    animation: movimientoPP 3s;
    animation-fill-mode: forwards;
}
.perfilProfesional1, .perfilProfesional2{
    display: flex;
    width: max-content;
    height: max-content;
    border: 2px aqua solid;
    box-shadow: 0 5px 15px aqua;
    border-radius: 30%;
    margin-left: 30%;
    padding-right: 7%;
    padding-bottom: 5%;
}
.perfilProfesional1{
    margin-left: 15%;
}
.perfilProfesional2{
    margin-top: -21%;
    margin-left: 97%;
}
.listaPP{
    margin-top: -5%;
    margin-left: -2%;
}
.experienciaLaboral1, .experienciaLaboral2{
    display: flex;
    width: max-content;
    height: max-content;
    border: 2px aqua solid;
    box-shadow: 0 5px 15px aqua;
    border-radius: 40%;
    margin-left: 100%;
    padding-right: 3%;
    padding-bottom: 5%;
}
.experienciaLaboral1{
    margin-left: 22.5%;
    padding-bottom: 11%;
}
.escudo{
    position: relative;
    width: 25%;
    margin-top: 10%;
    margin-left: 43%;
}
.experienciaLaboral2{
    margin-top: -45%;
    margin-left: 105%;
}
.maestro{
    position: relative;
    width: 70%;
    margin-top: 7%;
    margin-left: 20%;
    border-radius: 5%;
}
.listaEL{
    margin-right: 10%;
    margin-bottom: 3%;
}
.formacionAcademica1, .formacionAcademica2, .formacionAcademica3{
    display: flex;
    width: max-content;
    height: max-content;
    border: 2px aqua solid;
    box-shadow: 0 5px 15px aqua;
    border-radius: 30%;
    margin-left: 30%;
    padding-right: 7%;
    padding-bottom: 2%;
}
.formacionAcademica1{margin-left: 15%;}
.formacionAcademica2{margin-left: 65%;}
.formacionAcademica3{
    margin-top: -55%;
    margin-left: 115%;
}
.formacionAcademica4{margin-left: 30%;}
.listaFA li img{width: 100px;}
a{text-decoration: none;}
.data-container {
    position: relative;
    margin-top: 50%;
    margin-right: -90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    cursor: pointer;
    position: relative;
    padding: 20px 30px;
    background: rgb(20, 21, 38);
    color: aqua;
    font-size: 20px;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all .5s;
}
.btn:after, .btn:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all .5s;
}
.btn:after {
    top: -1px;
    left: -1px;
    border-top: 2px solid aqua;
    border-left: 2px solid aqua;
}
.btn:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 2px solid aqua;
    border-right: 2px solid aqua;
}
.btn:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.btn:hover:before, .btn:hover:after {
    width: 105%;
    height: 110%;
}
#cinco{
    margin-top: 10%;
    margin-left: 87.5%;
}
.formacionComplementaria1, .formacionComplementaria2{
    display: flex;
    width: max-content;
    height: max-content;
    border: 2px aqua solid;
    box-shadow: 0 5px 15px aqua;
    border-radius: 30%;
}
.formacionComplementaria1{
    margin-left: 14.5%;
    padding-right: 14%;
    padding-bottom: 5%;
}
.elemento1{
    margin-left: -20%;
    margin-bottom: -7%;
}
.java, .socorrismo, .snow, .rcp, .escalada{
    position: relative;
    width: 80px;
}
.java{
    margin-top: -3%;
    margin-left: 67%;
}
.elemento2{
    margin-left: -7%;
    margin-bottom: -5%;
}
.socorrismo{
    margin-top: -3%;
    margin-left: 90%;
}
.formacionComplementaria2{
    margin-top: -38%;
    margin-left: 101%;
    padding-left: 13.5%;
    padding-bottom: 5%;
}
.elemento4{
    margin-left: -60%;
}
.snow{
    margin-top: -10%;
    margin-left: 10%;
}
.elemento5{
    margin-left: -27%;
}
.rcp{
    margin-top: -9%;
    margin-left: 72%;
}
.elemento6{
    margin-top: 10%;
    margin-left: -17%;
}
.escalada{
    margin-top: -11%;
    margin-left: 82%;
}
#seis{margin-left: 87.5%;}
.back{
    position: absolute;
    color: aqua;
    font-size: 24px;
    margin-top: -4%;
    margin-left: 55%;
}
.front{
    position: absolute;
    color: aqua;
    font-size: 24px;
    margin-top: -24%;
    margin-left: 125%;
}
.competenciasBack, .competenciasFront{
    display: flex;
    margin-left: 15%;
    border: 2px aqua solid;
    box-shadow: 0 5px 15px aqua;
    border-radius: 20%;
    margin-bottom: 15%;
    padding-bottom: 5%;
}
.competenciasBack{
    margin-left: 30%;
    margin-right: 10%;
}
.lenguaje-java, .python, .html, .css{
    position: relative;
    width: 90px;
    height: 90px;
}
.lenguaje-java{
    margin-top: 5%;
    margin-left: 7%;
}
.python{
    margin-top: 25%;
    margin-left: -14%;
}
.progress-java, .progress-py {
    display: flex;
    height: 35px;
    width: 400px;
    border-radius: 5px;
    background-color: #e6f3fa;
}
.progress-java{
    margin-top: -38%;
    margin-left: 45%;
}
.progress-py{
    margin-top: 9%;
    margin-left: 45%;
}
.competenciasFront{
    margin-left: 100%;
    margin-right: -60%;
    margin-top: -20%;
}
.html{
    margin-top: 5%;
    margin-left: 7%;
}
.css{
    margin-top: 25%;
    margin-left: -14%;
}
.progress-html, .progress-css {
    display: flex;
    height: 35px;
    width: 400px;
    border-radius: 5px;
    background-color: #e6f3fa;
}
.progress-html{
    margin-top: -38%;
    margin-left: 115%;
}
.progress-css{
    margin-top: 8%;
    margin-left: 115%;
}
.back-java, .back-py, .front-html, .front-css {
    height: 100%;
    background: aqua;
    display: flex;
    transition: width 0.5s;
    border-radius: 5px;
}
.back-java:hover{
    animation: prog-java .5s linear;
    animation-fill-mode: forwards;
}
.back-py:hover{
    animation: prog-py .5s linear;
    animation-fill-mode: forwards;
}
.front-html:hover{
    animation: prog-html .5s linear;
    animation-fill-mode: forwards;
}
.front-css:hover{
    animation: prog-css .5s linear;
    animation-fill-mode: forwards;
}
.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    margin-top: 2%;
    color: rgb(20, 21, 38);
}
#siete{
    margin-top: 15%;
    margin-left: 91%;
}
.idiomas{
    display: flex;
    width: max-content;
    height: max-content;
    border: 2px aqua solid;
    box-shadow: 0 5px 15px aqua;
    border-radius: 40%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 77.5%;
    margin-bottom: 5%;
}
.listaIdioma{margin-left: -20%;}
.listaIdioma li > img{margin-left: 5%;}
.efecto{
    position: relative;
    background-color: aqua;
    width: 400px;
    height: 5px;
    margin-top: -8%;
    margin-left: 132%;
    margin-bottom: 5%;
}
.efecto2, .efecto3, .efecto4, .efecto5, .efecto6, .efecto7{
    position: absolute;
    background-color: aqua;
    width: 400px;
    height: 5px;
    margin-top: -8%;
    margin-left: 78%;
}
@keyframes movimiento1 {
    from {transform: translateX(0);}
    to {transform: translateX(115%);}
}
@keyframes prog-java {
    0% {width: 0%}
    100% {width: 80%}
}
@keyframes prog-py {
    0% {width: 0%}
    100% {width: 65%}
}
@keyframes prog-html {
    0% {width: 0%}
    100% {width: 60%}
}
@keyframes prog-css {
    0% {width: 0%}
    100% {width: 40%}
}

@media (max-width: 900px){
    .logoNombre{
        width: 100px;
        margin-left: -12%;
        margin-top: 5%;
        margin-bottom: 90%;
    }
    a img:hover{
        transition: transform .5s;
        transform: scale(1.15);
    }
    .lado1, .lado2{
        color: aqua;
        display: flex;
        justify-content: center;
    }
    #uno{
        margin-left: 8%;
        margin-right: 1%;
    }
    #dos, #tres, #cuatro, #cinco, #seis, #siete{margin-left: 10%;}
    #cinco{margin-top: 50%;}
    .presentacion{
        display: flex;
        width: 80%;
        border: 2px aqua solid;
        border-radius: 10% 50%;
        margin-left: 16.5%;
        box-shadow: 0 5px 15px aqua;
    }
    .programmer1{
        position: absolute;
        margin-top: 22%;
        margin-left: 5%;
    }
    .programmer2{
        position: absolute;
        margin-top: 22%;
        margin-left: 28%;
    }
    .programmer3{
        position: absolute;
        margin-top: 37%;
        margin-left: 16%;
    }
    .perfilProfesional1{
        width: 75%;
    }
    .listaPP{
        margin-top: 1%;
    }
    .perfilProfesional2{
        width: 75%;
        margin-left: 15%;
        margin-top: 5%;
    }
    .experienciaLaboral1{
        width: 75%;
        margin-left: 17.5%;
    }
    .experienciaLaboral2{
        width: 75%;
        margin-left: 17.5%;
        margin-top: 5%;
    }
    .formacionAcademica1{
        width: 72.5%;
        margin-left: 17%;
    }
    .listaFA{margin-left: 1.5%;}
    .formacionAcademica2, .formacionAcademica3{
        width: 72.5%;
        margin-left: 17%;
        margin-top: 5%;
    }
    .formacionAcademica4{
        margin-top: -30%;
        margin-bottom: -35%;
    }
    .data-container {
        position: relative;
        margin-top: 50%;
        margin-left: -110%;
    }
    .formacionComplementaria1{
        width: 65%;
        margin-left: 17%;
    }
    .elemento1{margin-left: -10%;}
    .java{margin-left: 85%;}
    .elemento2{margin-left: -2%;}
    .socorrismo{
        margin-top: -7%;
        margin-left: 98%;
    }
    .formacionComplementaria2{
        width: 65.5%;
        margin-left: 17%;
        margin-top: 5%;
    }
    .elemento4{margin-left: -55%;}
    .snow{margin-left: 20%;}
    .elemento5{margin-left: -30%;}
    .rcp{
        margin-top: -15%;
        margin-left: 65%;
    }
    .elemento6{margin-left: -20%;}
    .escalada{
        margin-top: -14%;
        margin-left: 80%;
    }
    .lenguaje-java, .python, .html, .css{
        position: relative;
        width: 90px;
        height: 90px;
    }
    .back{
        margin-top: -3%;
        margin-left: 50%;
    }
    .lenguaje-java{margin-left: 5%;}
    .competenciasBack{
        width: 75%;
        margin-top: 12%;
        margin-left: 19%;
    }
    .progress-java{
        margin-top: -42%;
        margin-left: 37%;
    }
    .progress-py{
        margin-top: 10%;
        margin-left: 37%;
    }
    .front{
        margin-top: 15%;
        margin-left: 49.5%;
    }
    .competenciasFront{
        width: 75%;
        margin-top: 20%;
        margin-left: 19%;
    }
    .progress-html{
        margin-top: -42%;
        margin-left: 37%;
    }
    .progress-css{
        margin-top: 10%;
        margin-left: 37%;
    }
    .idiomas{
        margin-top: -4%;
        margin-left: 34.5%;
        margin-bottom: 5%;
    }
    .idiomas ul{margin-left: -15%;}
    .efecto, .efecto2, .efecto3, .efecto5, .efecto6, .efecto7{
        position: absolute;
        background-color: aqua;
        width: 400px;
        height: 5px;
    }
    .efecto{
        animation: none;
        margin-left: 30%;
    }
    .efecto2, .efecto3, .efecto4, .efecto6, .efecto7{margin-left: 32%;}
    .efecto5{margin-left: 32.5%;}
}